//abstract
@import './abstract/mixins';
@import './abstract/variables';

//components
@import './components/insertTask';

//layout
@import './layout/header';


//pages
@import './pages/home';


body{
    margin: 0;
}

.App{
    @include dimension(auto, 100vh);
    @include color($background-color, $task-color);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
}